<template>
    <v-card raised>
        <v-card-title>
            {{ list.name }}
        </v-card-title>
        <v-card-subtitle
            v-if="list.category"
        >
            {{ list.category.name }}
        </v-card-subtitle>
        <v-card-text>
            {{ list.description }}
        </v-card-text>
        <v-card-actions>
            <v-btn
                v-on:click="setStatus()"
            >
                {{ status(list.status) }}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "index",
        data: () => {
            return {
                list: [],
            }
        },
        methods: {
            async getTask() {
                let task = await this.$axios.$get("http://api/api/task/" + this.$route.params.id);
                this.list = task;
            },
            async setStatus() {
                let task = await this.$axios.$put("http://api/api/task/setStatus/" + this.list.id, {status: this.list.status});
                this.getTask();
            },
            status(bool) {
                if (bool)
                    return "Выполнена";
                else
                    return "Не выполнена";
            },
        },
        created() {
            this.getTask();
        }
    }
</script>

<style scoped>

</style>
