<template>
    <div>
        <v-list>
            <v-list-item
                v-for="(category, i) in list"
                :key="i"
                :to="'/category/' + category.id"
                router
                exact
                :prop=category.id
            >
                <v-list-item-content>
                    <v-list-item-title v-text="category.name" />
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </div>
</template>

<script>
    import axios from "../../.nuxt/axios";
    export default {
        name: "index",
        data: () => {
          return {
            list : [],
          }
        },
        methods: {
            async getCategory() {
                let categorys = await this.$axios.$get('http://api/api/category');
                this.list = categorys;
            }
        },
        created() {
            this.getCategory();
        }
    }
</script>

<style scoped>

</style>
