<template>
    <div>
        <v-list>
            <v-list-item
                v-for="(task, i) in list"
                :key="i"
                :to="'/task/' + task.id"
                router
                exact
                :prop=task.id
            >
                <v-list-item-content>
                    <v-list-item-title v-text="task.name" />
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </div>
</template>

<script>
    export default {
        name: "index",
        data: () => {
            return {
                list: [],
            }
        },
        methods: {
            async getTasks() {
                let tasks = await this.$axios.$get("http://api/api/category/" + this.$route.params.id);
                this.list = tasks;
            }
        },
        created() {
            this.getTasks();
        }
    }
</script>

<style scoped>

</style>
